:root {
  --aa: #D07D00;
  --ah: #4EA400;
  --al: #00848B;
  --ar: #BBDEB080;
  --bg: #F9F9F9;
  --en: #B6DBDF80;
  --fg: #121D26;
  --fl: #fff;
  --ll: #777777;
  --lo: #525252;
  --op: 0.5;
  --re: #E3D1C880;
  --sh: #0004;
}
@media (prefers-color-scheme: dark) { :root {
  --aa: #C7813F;
  --ah: #5EA13E;
  --al: #378287;
  --ar: #1C4400a0;
  --bg: #050505;
  --en: #004346a0;
  --fg: #CBDBEC;
  --fl: #000;
  --ll: #626262;
  --lo: #898989;
  --op: 0.35;
  --re: #593200a0;
  --sh: #000;
}}
